.screen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
}

.screenRow {
  flex: 1;
  flex-basis: 0;
  height: 33%;
  display: flex;
  flex-direction: row;
}

.screenCell {
  display: flex;
  flex: 1;
  flex-basis: 0;
  flex-direction: row;
  width: 33%;
}

.top {
  align-items: flex-start;
}

.vcenter {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.left {
  justify-content: flex-start;
}

.hcenter {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.videoAlert {
  position: absolute;
  left: 0px;
  bottom: 34px;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.videoAlertText {
  flex-wrap: 'wrap';
  width: 100%;
  font-family: 'c64';
  font-size: 16px;
  line-height: 18px;
  color: green;
  text-align: left;
  background-color: black;
  padding: 16px;
  box-sizing: border-box;
  transition: opacity 0.5s;
  opacity: 1;
}

.videoAlertText .regular {
  display: inline-block;
  white-space: pre-wrap;
  color: green;
}

.videoAlertText .highlight {
  display: inline-block;
  white-space: pre-wrap;
  color: lightgreen;
}

.videoAlertVideo {
  width: 100%;
  height: 240px;
  padding: 8px;
  box-sizing: border-box;
  background-color: black;
  transition: opacity 0.5s;
  opacity: 1;
}

.videoAlertCredit {
  width: 100%;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  font-family: 'c64';
  font-size: 8px;
  line-height: 10px;
  color: grey;
  background-color: black;
  transition: opacity 0.5s;
  opacity: 1;
  white-space: pre-wrap;
}

.hide {
  opacity: 0;
}

.chyronCrawl {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 34px;
  font-family: 'c64';
  font-size: 16px;
  line-height: 18px;
  background-color: black;
  transition: opacity 0.5s;
  opacity: 1;
  white-space: pre-wrap;
}

.chyronCrawl .regular {
  display: inline;
  color: green;
}

.chyronCrawl .highlight {
  display: inline;
  color: lightgreen;
}

.chyronCrawl .separator {
  display: inline;
  color: grey;
}

@font-face {
  font-family: 'c64';
  src: local('C64 Pro Mono'), url(./fonts/c64.ttf) format('truetype');
}
