.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.screen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
}

.screenRow {
  flex: 1;
  flex-basis: 0;
  height: 33%;
  display: flex;
  flex-direction: row;
}

.screenCell {
  display: flex;
  flex: 1;
  flex-basis: 0;
  flex-direction: row;
  width: 33%;
}

.top {
  align-items: flex-start;
}

.vcenter {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.left {
  justify-content: flex-start;
}

.hcenter {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.alertTextCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.alertText {
  width: 100%;
  font-family: 'c64';
  font-size: 16px;
  line-height: 18px;
  color: green;
  text-align: left;
  background-color: black;
  padding: 16px;
  transition: opacity 0.5s;
  opacity: 1;
}

.alertText .highlight {
  display: inline;
  color: lightgreen;
}

.videoCell {
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: black;
  transition: opacity 0.5s;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.chyronCrawl {
  width: 100%;
  font-family: 'c64';
  font-size: 16px;
  line-height: 18px;
  color: green;
  text-align: left;
  background-color: black;
  padding: 8px 0px;
  transition: opacity 0.5s;
  opacity: 1;
  white-space: pre;
}

.chyronCrawl .regular {
  display: inline;
  color: green;
}

.chyronCrawl .highlight {
  display: inline;
  color: lightgreen;
}

.chyronCrawl .separator {
  display: inline;
  color: grey;
}

@font-face {
  font-family: 'c64';
  src: local('C64 Pro Mono'), url(./fonts/c64.ttf) format('truetype');
}
