.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
}

.upperLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 2px red;
}

.upperRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.lowerLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.lowerRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.alertText {
  font-size: 14pt;
  color: black;
}

.videoArea {
  transition: opacity 0.5s;
  opacity: 1;
}

.videoArea.hide {
  opacity: 0;
}